<div class="container">
    <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">Id</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-8">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="onClick(character)" *ngFor="let character of characters">
              <td class="col-md-1">{{ character.id }}</td>
              <td class="col-md-3">{{ character.name }}</td>
              <td class="col-md-8">{{ character.description }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
        <ngb-pagination 
        [collectionSize]="total" 
        [(page)]="page" 
        [pageSize]="limit" 
        [maxSize]="5" 
        [rotate]="true" 
        [boundaryLinks]="true" 
        (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
  </div>